/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto Condensed', sans-serif;
    color: #717171;
}
.line::after{
    content: "";
    background:linear-gradient(to right,#fbbd61,#ec7532);
    width: 0;
    height: 2px;
    display: block;
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all .5s;
}
.line:hover::after,.active.line::after {
    width: 100%;
}
.section{
    padding: 75px 0;
}
.title{
    color: #ec7532;
    font-size: 1.125rem;
    border-bottom: 1px solid #d8d8d8;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    margin-bottom: 40px;
}
.title::after{
    content: "";
    display: block;
    width: 125px;
    height: 4px;
    margin-top: 20px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
}
.title--white{
    color: white;
    border-bottom: 1px solid #333;
}
::selection{
    color: white;
    background-color: #ec7532;
}
/* HEADER */
header{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.header_top{
    text-align: right;
    font-size: 14px;
    color: white;
}
.header_top p{
    font-weight: 700;
}
#navbarNav ul{
    list-style: none;
}
#navbarNav a{
    color: white;
    letter-spacing: 3px;
    padding: 20px 24px;
    line-height: 0.8em;
}
#navbarNav .navbar-nav{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#header__scroll{
    background-color: #101010;
    position: fixed;
    top: 0;
    transform: translate(-50%,-100%);
    width: 100%;
    transition:transform 0.5s;
    z-index: 20;
}
/* CAROUSEL */
.Carouselmovie .carousel-inner .carousel-caption{
    text-align: left;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Carouselmovie .carousel-inner .carousel-caption p:first-of-type{
    font-size: 0.875rem;
    color: #fbbd61;
    margin-bottom: 0;
    animation-delay: .5s;
}
.Carouselmovie .carousel-inner .carousel-caption h3{
    font-size: 3.25rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.Carouselmovie .carousel-inner .carousel-caption p:last-of-type{
    font-size: 1.125rem;
    margin-bottom: 20px;
}
.Carouselmovie__trailer{
    animation-delay: .5s;
}
.Carouselmovie__trailer>span{
    height: 48px;
    width: 48px;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    margin-right: 8px;
}
.Carouselmovie__trailer button{
    padding: 12px 24px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to right, #fbbd61,#ec7532);
    letter-spacing: 4px;
    border: none;
    font: size 0.8rem;
    position: relative;
    overflow: hidden;
}
.Carouselmovie__trailer button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 110%;
    background-color: #ec7532;
    transform: skewX(30deg) translateX(-120%);
    z-index: 1;
    transition: all .5s;
}
.Carouselmovie__trailer button:hover:before{
    transform: skewX(30deg) translateX(-10px);
}
.Carouselmovie__trailer button span{
    position: relative;
    z-index: 2;
}
.carousel-indicators{
    justify-content: flex-start;
    left: 50%;
    transform: translateX(-50%);
    margin: 0  0;
    padding: 0 15px;
    bottom: 10%;
}
.carousel-indicators li{
    width:10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
    opacity: 1;
    box-sizing: border-box;
}
.carousel-indicators li.active{
    background: white;
}
.carousel__overlap{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top,black,transparent);
}
#movieCarousel{
    height: 650px;
}
#movieCarousel .carousel-inner{
    height: 100%;
}
#movieCarousel .carousel-item{
    height: 100%;
    background-position: center;
    background-size: cover;
}
#movieCarousel .carousel-item:first-child{
    background-image: url(../img/hero-1.jpg);
}
#movieCarousel .carousel-item:nth-child(2){
    background-image: url(../img/hero-2.jpg);
}
#movieCarousel .carousel-item:nth-child(3){
    background-image: url(../img/hero-3.jpg);
}
/* NewIn */
.new__detail{
    text-align: center;
}
.new__detail h3{
    font-size: 18px;
    color: #4a4a4a;
    margin: 1rem 0;
}
.new__detail i{
    color:#fbbd61;
}
.new__img{
    position: relative;
    overflow: hidden;
}
.new__img .newin__overlap{
    width: 200%;
    height: 100%;
    background: linear-gradient(to bottom, #fbbd61,#ec7532);
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(30deg) translateX(-150%);
    transition: all .5s;
}
.new__img:hover .newin__overlap{
    transform: skewX(30deg) translateX(-30%);
    opacity: 0.9;
}
.new__img .newin__play{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.new__img:hover .newin__play{
    opacity: 1;
}
.new__img .newin__play i:hover{
    scale: 0.9;
}
.new__img .newin__play i{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    color: white;
    line-height: 80px;
    scale: 1;
    transition: all 0.5s;
}
.new__img .newin__play a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 4px;
    margin: 1rem 0;
}
.new__img .newin__play p{
    color: white;
}
/* Showtie */
.Showtime #myTab .nav-link.active span{
    color: #ec7532;
}
.Showtime #myTab .nav-link span{
    padding: 15px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    color: #4a4a4a;
}
.Showtime #myTab .nav-link {
    border: none;
    margin-bottom: 0;
    padding: 0 0;
}
.Showtime .showtime__item{
    border-bottom: 1px solid #d8d8d8;
}
.Showtime .showtime__item:last-child{
    border-bottom: none;
}
.Showtime .tab-content .showtime__detail p:first-of-type{
    font-size: 14px;
    color: #ec7532;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.Showtime .tab-content .showtime__detail h3{
    font-size: 24px;
    color: #101010;
    font-weight: 300;
    letter-spacing: 1px;
}
.Showtime .tab-content .showtime__detail a{
    color: #ec7532;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 12px;
}
.Showtime .tab-content .showtime__detail a:hover{
    color: #101010;
}

.Showtime .tab-content .showtime__detail .showtime__run p:first-of-type{
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #4a4a4a;
}
.showtime__run .btn{
    font-size: 14px;
    color: #717171;
    letter-spacing: 2px;
    background-color: #d8d8d8;
}
.showtime__run .btn:hover{
    color: #101010;
}
.Showtime .tab-content .showtime__detail .showtime__run .showtime__min span:first-of-type{
    font-size: 12px;
}
.Showtime .tab-content .showtime__detail .showtime__run .showtime__min span:last-of-type{
   display: inline-block;
    height: 33px;
    width: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: #4a4a4a;
}
.Showtime .showtie__img img{
    border-radius: 10px;
}
/* COMMING SOON */
.Comingsoon{
    background: #101010 url(../img/slide-3.png);
    background-size: cover;
    background-position: center;
}
.Comingsoon .comingsoon__item {
    color: white;
    
}
.Comingsoon .comingsoon__item p:first-of-type{
    font-size: 14px;
    color: #ec7532;
    letter-spacing: 2px;
    margin: 1rem 0;
}
.Comingsoon .comingsoon__item h2{
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 300;
}
.Comingsoon .comingsoon__item i{
    color: #fbbd61;
}
.comingsoon__item a{
    color: #ec7532;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 12px;
}
.comingsoon__item a:hover{
    color: white;
}
.comingsoon__img i{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #ec7532;
    line-height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: 25px;
    transition: .5s;
}
.comingsoon__img:hover i{
    transform: translate(-50%,-50%) scale(0.9);
}
/* Movielist */
.Movielist{
    background-color: #101010;
}
.movielist__overlap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101010;
    opacity: 0.6;
}
.movie__img{
    position: relative;
    
}
.movie__img img{
    border-radius: 10px;
    overflow: hidden;
}
.Movielist .movie__img:hover .movielist__overlap{
    opacity: 0;
}
.contact{
    text-align: center;
}
.contact p:first-of-type{
    font-size: 23px;
    color: #4a4a4a;
    letter-spacing: 1px ;
    font-weight: 300;
}
.contact a{
    text-decoration: none;
    font-size: 46px;
    color: #fbbd61;
}
footer{
    background-color: #101010;
}
footer h3{
    color: #ec7532;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
footer li{
    list-style: none;
}
footer li a{
    color: white;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 3px 0;
}
footer .copy_right{
    border-top: 1px solid #4a4a4a;
    color: white;
    padding: 15px 0;
}
/* RESPONSIVE */
@media screen and (max-width:991.98px){
    header img{
        max-width: 180px;
    }
    #navbarNav a{
        font-size: 14px;
        letter-spacing: 2px;
        padding: 20px 12px;
    }
}
@media screen and (max-width:767.98px){
    header .navbar-toggler{
        color: #fbbd61;
        outline: none;
    }
    header .navbar .collapse{
        background-color: rgba(0, 0, 0, 0.881);
        text-align: center;
    }
    .active.line::after{
        width: 0;
    }
    #navbarNav .active a{
        color: #ec7532;
    }
    .carousel-indicators{
        z-index: 2;
    }
    /* CAROUSEL */
    .Carouselmovie .carousel-inner .carousel-caption h3{
        font-size: 2.5rem;
    }
    /* Showtime */
    .Showtime #myTab .nav-link span{
        font-size: 16px;
        padding: 10px 20px ;
    }
}